html, body {
    height: 100%;
}

.container-narrow {
    margin: 0 auto -100px;
    max-width: 900px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.footer, .push {
    height: 100px;
    max-width: 900px;
    margin: 0 auto;
}

.sourcetable {
    width: 900px;
    max-width: 900px;
    margin: 0 auto;
}

.flash {
    margin: 0 auto;
    font-size: 16px;
    max-width: 880px;
    text-align: center;
    background-color: #e1ecfe;
    border-top: 2px solid #7a9eec;
    border-bottom: 2px solid #7a9eec;
    padding: 10px 10px 10px 10px;
}

.form_error {
    border-top: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
    background-color: #fbe0e0;
    padding: 10px 10px 10px 10px;
}

ul {
    list-style: none;
}