{% extends 'layout.html' %}
{% block content %}
<h3>About</h3>
<p>This is a simple code sharing demo web application built by Nick Weinhold.</p>
<p>This application was built using Python + Flask, WTForms, SQLAlchemy and is
  hosted on Heroku.</p>
<p>This project was not written as a replacement for other code sharing sites, rather it was
  built so that I could gain more experience in using Heroku to host Python web applications.</p>
<p>The source code can be found on Github.</p>
{% endblock %}
