<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Simple Code Sharing | {% block title %} {% endblock %}</title>
    <link rel='stylesheet' href='/static/bootstrap.min.css' type='text/css'>
    <link rel='stylesheet' href='/static/defaultsyntax.css' type='text/css'>
    <link rel='stylesheet' href='/static/style.css' type='text/css'>
  </head>
  <body>
    <div class='container-narrow'>
      <div class='masthead'>
	<ul class='nav nav-pills pull-right'>
	  <li>
	    <a href='/'>Home</a>
	  </li>
	  {% if not session.user_id %}
	  <li>
	    <a href='/register'>Register</a>
	  </li>
	  <li>
	    <a href='/login'>Login</a>
	  </li>
	  {% else %}
	  <li>
	    <a href='/dashboard'>Overview</a>
	  </li>
	  <li>
	    <a href='/snippet/new'>New Snippet</a>
	  </li>
	  <li>
	    <a href='/logout'>Logout</a>
	  </li>
	  {% endif %}
	  <li>
	    <a href='/about'>About</a>
	  </li>
	</ul>
	<h3 class='muted'>Simple Code Snippets</h3>
      </div>
      {% with flashes = get_flashed_messages() %}
      {% if flashes %}
      <div class='flash'>
	<ul>
	  {% for msg in flashes %}
	  <li>
	    {{ msg }}
	  </li>
	  {% endfor %}
	</ul>
      </div>
      {% endif %}
      {% endwith %}
      <div class='content'>
	{% block content %}
	{% endblock %}
      </div>
      <div class='push'>
      </div>
    </div>
    <div class='footer'>
      <p>Created by <a href='http://www.nickweinhold.co.uk'>Nick Weinhold</a></p>
      <p>&copy; Nick Weinhold 2012</p>
    </div>
  </body>
</html>
